
{% load static %}

<header class="header sticky top-0 bg-white shadow-md flex items-center justify-between px-8 py-02">

    <!-- logo -->
    <h1 class="w-3/12 p-4 border-b-2 hover:text-blue-500 duration-200 cursor-pointer">
        <a href="{% url 'listUavs' %}" class="text-xl" style="font-family: 'Libre Franklin', sans-serif;">
            <img src="{% static 'images/uavLogo.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            RentUAV
        </a>
    </h1>

    <!-- navigation -->
    <nav class="nav font-semibold text-lg">
        <ul class="flex items-center">
            <li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer active">
              <a href="{% url 'listAvailable' %}">Rent UAV</a>
            </li>
            <li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer">
              <a href="{% url 'addUav' %}">Add UAV</a>
            </li>
            <li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer">
              <a href="{% url 'listUavs' %}">List All Uavs</a>
            </li>
            <li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer">
              <a href="">View Profile</a>
            </li>
        </ul>
    </nav>

    <div class="w-3/12 flex justify-end">
        <a href="{% url 'logout' %}">
          <svg class="h-8 w-8 text-black"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />  <path d="M7 12h14l-3 -3m0 6l3 -3" /></svg>        </a>
    </div>
    
  </header> 
