{% extends 'core/base.html' %}
{% load static %}

{% block title %}RentUAV{% endblock %}

{% block content %}

    <div class="text-center text-5xl mb-3" style="font-family: 'Merriweather Sans', sans-serif;">
        <h2>Welcome to RentUAV</h2>
    </div>

    <div class="flex flex-row justify-center">
        <img src="{% static 'images/uavLogo.png' %}" alt="RentUAV Logo" width="15%" height="15%">
    </div>


    <div class="text-center text-base mb-5" style="font-family: 'Libre Franklin', sans-serif;">
        <p>RentUAV helps you rent an uav. You can find 100+ uavs available for rent here. Join us and start exploring!</p>
    </div>


    <div class="flex flex-row justify-center gap-x-8">

        {% include 'partials/authButtons.html' %}
        
    </div> 


{% endblock %}